<!DOCTYPE html>
<html>
<head>
    <title>User Authentication</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>User Authentication</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form>
        <br>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        <p>Forgot your password? <a href="{{ url_for('forgot_password') }}">Reset password</a></p>
        <p>Want to delete your account? <a href="{{ url_for('delete_account') }}">Delete account</a></p>
    </div>
</body>
</html>